# Configuration file

"assorted parameters" {
    B:SpookyBiomesOn=false
    B:SpookyInNewDimensons=true
}


spookybiomebeaches {
    S:"Blooded Hills beach"=
    S:"Ghostly Forest beach"=
    S:"Seeping Forest beach"=
    S:"Sorbus Forest beach"=
}


spookybiomeclimates {
    S:"Blooded Hills climate"=Warm
    S:"Ghostly Forest climate"=Cool
    S:"Seeping Forest climate"=Warm
    S:"Sorbus Forest climate"=Warm
}


spookybiomeincidences {
    I:"Blooded Hills Incidence"=5
    I:"Ghostly Forest Incidence"=5
    I:"Seeping Forest Incidence"=5
    I:"Sorbus Forest Incidence"=5
}


spookybiomevillages {
    B:"Blooded Hills hasVillages"=false
    B:"Ghostly Forest hasVillages"=false
    B:"Seeping Forest hasVillages"=false
    B:"Sorbus Forest hasVillages"=false
}


