# Configuration file

general {

    client {
        # If true, classic spell display names are used on the client.
        # This only changes localization text and does not affect spell IDs or compatibility.
        B:"Use Classic Spell Names"=false
    }

}


