# Configuration file

general {

    "other settings" {
        # False for Multiplicative, I don't know why you would want Flat but here it is
        B:"Bonus is Flat"=false

        # Damage dealt by Bolts don't have their DamageSource registered as 'Projectile', this fixes that
        B:"Crossbow Fix"=true
    }

    ##########################################################################################################
    # custom
    #--------------------------------------------------------------------------------------------------------#
    # Manual entry for missed things. MUST be instance of ItemLongbow or ItemCrossbow
    ##########################################################################################################

    custom {
        # For any missed Longbows and Crossbows (modid:itemid*amount)
        S:Materials <
            examplemod:exampleitem*5
            spartantwilight:longbow_steeleaf*1.75
            spartantwilight:longbow_fiery*2.0
            spartantwilight:longbow_knightly*1.75
            spartantwilight:longbow_ironwood*1.5
            spartannetherite:longbow_netherite*2.0
            spartandefiled:longbow_umbrium*1.5
            spartancompat:longbow_gravitite*1.75
            spartancompat:longbow_zanite*1.75
            spartancompat:longbow_holystone*1.25
            spartancompat:longbow_skyroot*1
            shinygear:emerald_longbow*1.6
            shinygear:topaz_longbow*1.9
            shinygear:malachite_longbow*1.75
            shinygear:sapphire_longbow*1.675
            shinygear:peridot_longbow*1.6
            shinygear:ruby_longbow*1.9
            shinygear:tanzanite_longbow*1.75
            shinygear:ruby_crossbow*1.9
            spartancompat:crossbow_holystone*1.25
            spartantwilight:crossbow_steeleaf*1.75
            spartantwilight:crossbow_knightly*1.75
            spartantwilight:crossbow_fiery*2.0
            spartantwilight:crossbow_ironwood*1.5
            spartannetherite:crossbow_netherite*2.0
            spartandefiled:crossbow_umbrium*1.5
            spartancompat:crossbow_gravitite*1.75
            spartancompat:crossbow_skyroot*1.0
            spartancompat:crossbow_zanite*1.75
            shinygear:emerald_crossbow*1.6
            shinygear:tanzanite_crossbow*1.75
            shinygear:topaz_crossbow*1.9
            shinygear:malachite_crossbow*1.75
            shinygear:sapphire_crossbow*1.675
            shinygear:peridot_crossbow*1.6
         >
    }

    ##########################################################################################################
    # spartan weaponry
    #--------------------------------------------------------------------------------------------------------#
    # Default Materials
    ##########################################################################################################

    "spartan weaponry" {

        ##########################################################################################################
        # longbows
        #--------------------------------------------------------------------------------------------------------#
        # Default Materials
        ##########################################################################################################

        longbows {
            # Min: -100.0
            # Max: 100.0
            D:Bronze=1.0

            # Min: -100.0
            # Max: 100.0
            D:Copper=1.0

            # Min: -100.0
            # Max: 100.0
            D:Diamond=1.75

            # Min: -100.0
            # Max: 100.0
            D:Electrum=1.0

            # Min: -100.0
            # Max: 100.0
            D:Invar=1.1

            # Min: -100.0
            # Max: 100.0
            D:Iron=1.5

            # Min: -100.0
            # Max: 100.0
            D:Lead=1.0

            # Min: -100.0
            # Max: 100.0
            D:Leather=1.0

            # Min: -100.0
            # Max: 100.0
            D:Nickel=1.0

            # Min: -100.0
            # Max: 100.0
            D:Platinum=1.75

            # Min: -100.0
            # Max: 100.0
            D:Silver=1.25

            # Min: -100.0
            # Max: 100.0
            D:Steel=1.625

            # Min: -100.0
            # Max: 100.0
            D:Tin=0.875

            # Min: -100.0
            # Max: 100.0
            D:Wood=1.0
        }

        ##########################################################################################################
        # crossbows
        #--------------------------------------------------------------------------------------------------------#
        # Default Materials
        ##########################################################################################################

        crossbows {
            # Min: -100.0
            # Max: 100.0
            D:Bronze=1.0

            # Min: -100.0
            # Max: 100.0
            D:Copper=1.0

            # Min: -100.0
            # Max: 100.0
            D:Diamond=1.75

            # Min: -100.0
            # Max: 100.0
            D:Electrum=1.0

            # Min: -100.0
            # Max: 100.0
            D:Invar=1.1

            # Min: -100.0
            # Max: 100.0
            D:Iron=1.5

            # Min: -100.0
            # Max: 100.0
            D:Lead=1.0

            # Min: -100.0
            # Max: 100.0
            D:Leather=0.0

            # Min: -100.0
            # Max: 100.0
            D:Nickel=1.0

            # Min: -100.0
            # Max: 100.0
            D:Platinum=1.25

            # Min: -100.0
            # Max: 100.0
            D:Silver=1.25

            # Min: -100.0
            # Max: 100.0
            D:Steel=1.625

            # Min: -100.0
            # Max: 100.0
            D:Tin=0.875

            # Min: -100.0
            # Max: 100.0
            D:Wood=1.0
        }

    }

    ##########################################################################################################
    # spartan fire
    #--------------------------------------------------------------------------------------------------------#
    # Ice and Fire Materials
    ##########################################################################################################

    "spartan fire" {

        ##########################################################################################################
        # longbows
        #--------------------------------------------------------------------------------------------------------#
        # Ice and Fire Materials
        ##########################################################################################################

        longbows {
            # Min: -100.0
            # Max: 100.0
            D:"Desert Myrmex"=0.75

            # Min: -100.0
            # Max: 100.0
            D:"Desert Myrmex Venom"=-1.0

            # Min: -100.0
            # Max: 100.0
            D:Dragonbone=2.0

            # Min: -100.0
            # Max: 100.0
            D:"Fire Dragonbone"=2.0

            # Min: -100.0
            # Max: 100.0
            D:"Fire Dragonsteel"=2.5

            # Min: -100.0
            # Max: 100.0
            D:"Ice Dragonbone"=2.0

            # Min: -100.0
            # Max: 100.0
            D:"Ice Dragonsteel"=2.5

            # Min: -100.0
            # Max: 100.0
            D:"Jungle Myrmex"=0.75

            # Min: -100.0
            # Max: 100.0
            D:"Jungle Myrmex Venom"=-1.0
        }

        ##########################################################################################################
        # crossbows
        #--------------------------------------------------------------------------------------------------------#
        # Ice and Fire Materials
        ##########################################################################################################

        crossbows {
            # Min: -100.0
            # Max: 100.0
            D:"Desert Myrmex"=0.75

            # Min: -100.0
            # Max: 100.0
            D:"Desert Myrmex Venom"=-1.0

            # Min: -100.0
            # Max: 100.0
            D:Dragonbone=2.0

            # Min: -100.0
            # Max: 100.0
            D:"Fire Dragonbone"=2.0

            # Min: -100.0
            # Max: 100.0
            D:"Fire Dragonsteel"=2.5

            # Min: -100.0
            # Max: 100.0
            D:"Ice Dragonbone"=2.0

            # Min: -100.0
            # Max: 100.0
            D:"Ice Dragonsteel"=2.5

            # Min: -100.0
            # Max: 100.0
            D:"Jungle Myrmex"=0.75

            # Min: -100.0
            # Max: 100.0
            D:"Jungle Myrmex Venom"=-1.0
        }

    }

    ##########################################################################################################
    # spartan weaponry arcana
    #--------------------------------------------------------------------------------------------------------#
    # Botania, Thaumcraft, and Embers Materials
    ##########################################################################################################

    "spartan weaponry arcana" {

        ##########################################################################################################
        # longbows
        #--------------------------------------------------------------------------------------------------------#
        # Botania, Thaumcraft, and Embers Materials
        ##########################################################################################################

        longbows {

            ##########################################################################################################
            # botania
            #--------------------------------------------------------------------------------------------------------#
            # Botania Materials
            ##########################################################################################################

            botania {
                # Min: -100.0
                # Max: 100.0
                D:Elementium=1.0

                # Min: -100.0
                # Max: 100.0
                D:Manasteel=1.5

                # Min: -100.0
                # Max: 100.0
                D:Terrasteel=1.5
            }

            ##########################################################################################################
            # thaumcraft
            #--------------------------------------------------------------------------------------------------------#
            # Thaumcraft Materials
            ##########################################################################################################

            thaumcraft {
                # Min: -100.0
                # Max: 100.0
                D:Thaumium=1.625

                # Min: -100.0
                # Max: 100.0
                D:Voidmetal=1.75
            }

            ##########################################################################################################
            # embers
            #--------------------------------------------------------------------------------------------------------#
            # Embers Materials
            ##########################################################################################################

            embers {
                # Min: -100.0
                # Max: 100.0
                D:Dawnstone=1.25
            }

        }

        ##########################################################################################################
        # crossbows
        #--------------------------------------------------------------------------------------------------------#
        # Botania, Thaumcraft, and Embers Materials
        ##########################################################################################################

        crossbows {

            ##########################################################################################################
            # botania
            #--------------------------------------------------------------------------------------------------------#
            # Botania Materials
            ##########################################################################################################

            botania {
                # Min: -100.0
                # Max: 100.0
                D:Elementium=1.0

                # Min: -100.0
                # Max: 100.0
                D:Manasteel=1.0

                # Min: -100.0
                # Max: 100.0
                D:Terrasteel=1.5
            }

            ##########################################################################################################
            # thaumcraft
            #--------------------------------------------------------------------------------------------------------#
            # Thaumcraft Materials
            ##########################################################################################################

            thaumcraft {
                # Min: -100.0
                # Max: 100.0
                D:Thaumium=1.625

                # Min: -100.0
                # Max: 100.0
                D:Voidmetal=1.75
            }

            ##########################################################################################################
            # embers
            #--------------------------------------------------------------------------------------------------------#
            # Embers Materials
            ##########################################################################################################

            embers {
                # Min: -100.0
                # Max: 100.0
                D:Dawnstone=1.25
            }

        }

    }

    ##########################################################################################################
    # spartanlands
    #--------------------------------------------------------------------------------------------------------#
    # The Betweenlands Materials
    ##########################################################################################################

    spartanlands {

        ##########################################################################################################
        # longbows
        #--------------------------------------------------------------------------------------------------------#
        # The Betweenlands Materials
        ##########################################################################################################

        longbows {
            # Min: -100.0
            # Max: 100.0
            D:Octine=1.0

            # Min: -100.0
            # Max: 100.0
            D:"Slimy Bone"=0.5

            # Min: -100.0
            # Max: 100.0
            D:Valonite=1.0

            # Min: -100.0
            # Max: 100.0
            D:Weedwood=0.0
        }

        ##########################################################################################################
        # crossbows
        #--------------------------------------------------------------------------------------------------------#
        # The Betweenlands Materials
        ##########################################################################################################

        crossbows {
            # Min: -100.0
            # Max: 100.0
            D:Octine=1.0

            # Min: -100.0
            # Max: 100.0
            D:"Slimy Bone"=0.5

            # Min: -100.0
            # Max: 100.0
            D:Valonite=1.0

            # Min: -100.0
            # Max: 100.0
            D:Weedwood=0.0
        }

    }

}


