# Configuration file

general {
    # Delete items?
    B:enabled=true

    # What items should be deleted. (Use F3+H to get the item ID)
    S:itemsToDelete <
        bountifulbaubles:trinketbrokenheart
        xreliquary:hero_medallion
        xreliquary:infernal_chalice
        xreliquary:emperor_chalice
        minecraft:golden_apple:1
        bountifulbaubles:trinketluckyhorseshoe
        cqrepoured:longshot
        cqrepoured:spiderhook
        explorercraft:jade
        explorercraft:jade_axe
        explorercraft:jade_block
        explorercraft:jade_boots
        explorercraft:jade_chestplate
        explorercraft:jade_helmet
        explorercraft:jade_hoe
        explorercraft:jade_leggings
        explorercraft:jade_ore
        explorercraft:jade_pickaxe
        explorercraft:jade_shovel
        explorercraft:jade_sword
        explorercraft:ruby
        explorercraft:ruby_axe
        explorercraft:ruby_block
        explorercraft:ruby_boots
        explorercraft:ruby_chestplate
        explorercraft:ruby_helmet
        explorercraft:ruby_hoe
        explorercraft:ruby_leggings
        explorercraft:ruby_ore
        explorercraft:ruby_pickaxe
        explorercraft:ruby_shovel
        explorercraft:ruby_sword
        explorercraft:amethyst
        explorercraft:amethyst_axe
        explorercraft:amethyst_block
        explorercraft:amethyst_boots
        explorercraft:amethyst_chestplate
        explorercraft:amethyst_helmet
        explorercraft:amethyst_hoe
        explorercraft:amethyst_leggings
        explorercraft:amethyst_ore
        explorercraft:amethyst_pickaxe
        explorercraft:amethyst_shovel
        explorercraft:amethyst_sword
        ancientwarfarenpc:food_bundle
        bountifulbaubles:flaregun
        bountifulbaubles:flare_red
        cqrepoured:hookshot
        twilightforest:ore_magnet
        farlanders:mystic_wand_ore
        grimoireofgaia:shard
        grimoireofgaia:shard:1
        grimoireofgaia:shard:5
        cqrepoured:teleport_stone
        wizardry_tales:infinite_summon
        wizardry_tales:ritual_of_mountain_living
        wizardry_tales:ritual_of_forest_life
        msmlegacy:vampiric_blade
        aether_legacy:life_shard
        iceandfire:copper_ingot
     >
}


