# Configuration file

general {
    # Change the scaling added per player of attack damage to bosses, not counting one player
    D:"Boss Scaling Attack Damage"=0.18

    # Change the scaling added per player of health added to bosses, not counting one player
    D:"Boss Scaling Health"=0.4

    # Change the attack damage of Mini Void Blossom
    D:"Mini Void Blossom Attack Damage"=8.0

    # Change the health of the Mini Void Blossom
    D:"Mini Void Blossom Health"=40.0

    # Change the attack damage of the Nether Abberrant
    D:"Nether Abberrant Attack Damage"=8.0

    # Change the health of the Nether Abberrant
    D:"Nether Abberrant Health"=40.0

    # Change the base spawn rate of Nether Abberrants in the Nether
    I:"Nether Abberrant Spawn Rate"=10

    # Change the damage done by Poison Darts, used by Mini Blossoms and the Void Dagger
    D:"Poison Dart Damage"=7.0

    # Ocean Biomes will automatically be blacklisted, this is cause of the way the cave spawns it will intefere and flood it. Otherwise, check the whitelist/blacklist if you want this list to be either or.
    S:"Void Blossom Arena Allowed Biomes to spawn in" <
        minecraft:ice_flats
     >

    # When set too true, the biome list in this config becomes a blacklist of biomes for it to not spawn in, if set to false it becomes a white list. Default: true
    B:"Void Blossom Arena Biome Whitelist/Blacklist"=true

    # Take note that any ocean type biomes this structure will NOT spawn in, but you can select which dimension you'd like the structure to spawn in
    I:"Void Blossom Arena Dimensions allowed in!" <
        0
     >

    # Change the armor value of the Void Blossom
    D:"Void Blossom Armor"=4.0

    # Change the Attack Damage of the Void Blossom
    D:"Void Blossom Attack Damage"=12.0

    # Change the max block the Void Blossom Top tries to find ground from, mostly used for dimensions with different world height levels compared to vanilla
    I:"Void Blossom Cave Top Part Max height to Spawn"=240

    # Change the min block the Void Blossom Top tries to find ground from, mostly used for dimensions with different world height levels compared to vanilla
    I:"Void Blossom Cave Top Part Min height to Spawn"=40

    # Change the spacing between Void Blossom caves, lower means more frequent, higher means less
    I:"Void Blossom Cave Weight"=300

    # Change the health of the Void Blossom boss
    D:"Void Blossom Health"=350.0

    # Change if the top part to indicate a Void Blossom Cave is underneath to not spawn, Default: true
    B:"Void Blossom Top Part Enable/Disalbe"=true

    # Change the cool down of the Void Dagger
    I:"Void Dagger Cooldown"=7
}


