# Configuration file

effects {
    # List of potion effects applied to the player when damage is dealt <id>,<duration>,<level> [default: []]
    S:effectsOnDealingDamage <
		inhibited:inhibited, 10, 1
     >

    # List of potion effects applied to the player when damage is taken <id>,<duration>,<level> [default: []]
    S:effectsOnTakingDamage <
		inhibited:inhibited, 10, 1
     >
}


general {
    # If false, fall / void damage taken will not trigger effects [default: false]
    B:enableFallDamage=false

    # If true, damaging another player will triggers effects [default: false]
    B:enableWhenDamagingOtherPlayers=false

    # If true, taking damage from another player will trigger effects [default: false]
    B:enableWhenTakingDamageFromPlayers=false

    # When dealing damage, trigger only if the target is neutral or hostile [default: true]
    B:onlyHostileTargets=true

    # If true, the duration value is interpreted as seconds (converted to ticks by multiplying by 20) [default: true]
    B:useSeconds=true
}


modules {
    # Apply effects when the player deals damage [default: true]
    B:enableOnDamageDone=true

    # Apply effects when the player takes damage [default: true]
    B:enableOnDamageTaken=true
}


