# Configuration file

general {
    # Allow the items to be held on the main hand
    B:allowMainHand=true

    # Allow the items to be held in the off hand
    B:allowOffHand=true

    # Display a message when the item is dropped from the player inventory
    B:displayMessageOnDrop=true

    # Display a message when the item is picked up
    B:displayMessageOnPickup=false

    # List of registry names of items that this mod affects
    S:restrictedItems <
        oe:spawn_bucket
        minecraft:water_bucket
        minecraft:lava_bucket
        forge:bucketfilled
        betterendforge:bucket_end_fish
        betterendforge:bucket_cubozoa
     >
}


