# Configuration file

general {
    # If true, animals (cows, sheep) will also heal. If false, only monsters heal.
    B:"Heal Passive Mobs"=false

    # Registry names of mobs that should NEVER heal (e.g. minecraft:creeper)
    S:"Mob Blacklist" <
        minecraft:armor_stand
     >

    # If not empty, ONLY these mobs will heal.
    S:"Mob Whitelist" <
     >

    # Distance to check for players and mobs when someone dies.
    D:"Scan Radius"=32.0
}


