# Configuration file

general {
    # Block bow shooting while the player is on a ladder or vine
    B:blockBow=true

    # Block melee attacks while the player is on a ladder or vine
    B:blockMelee=true

    # Show messages when an attack is blocked
    B:showMessages=true
}


