# Configuration file

owl {
    # ID for thrown owl egg Entity
    I:entityOwlEggId=679991

    # Owl Attack Damage
    I:owlAttackDamage=4

    # If false Owl will be disabled [default: true]
    B:owlEnabled=true

    # Owl Health
    I:owlHealth=10

    # Aprox. number of ticks between hoots
    I:owlHootInterval=1000

    # Adjusts the owls hoot volume. Higher value is loader
    D:owlHootVolumeMult=0.800000011920929

    # Mob ID
    I:owlId=689998

    # Damage multiplier against spiders
    D:owlSpiderDamageMultiplier=2.0

    # Max ticks between egg laying
    I:owlTimeBetweenEggsMax=24000

    # Min ticks between egg laying
    I:owlTimeBetweenEggsMin=12000
}


