# Configuration file

general {

    ##########################################################################################################
    # player mana system
    #--------------------------------------------------------------------------------------------------------#
    # Mana Pool System, which makes player really become master wizard slowly!
    ##########################################################################################################

    "player mana system" {
        # If it is true - then we see mana pool as bar
        B:"0: Bar"=true

        # Offset for mana pool/numbers
        I:"0: Mana X Offset"=0

        # Offset for mana pool/numbers
        I:"0: Mana Y Offset"=0

        # If it is true - then we see mana pool as bar
        B:"0: Numbers"=true

        # Max Mana in your pool available from the beginning. It'll grow as you cast spells up to Max. 
        # Min: 1.0
        # Max: 1.7976931348623157E308
        D:"1: Mana Pool Initial"=1000.0

        # Max Mana in your pool available at all. Can't be higher then this [value]
        # Min: 1.0
        # Max: 1.7976931348623157E308
        D:"1: Mana Pool Max"=1000.0

        # Allows to change cost of using spells, by multiplying final cost on this value (cost * this)
        # Cost of spell is calculated: this * (Spell-Tier * Spell-Tier)
        # So setting it to 0.0 will make spellcasting not use Mana Pool at all
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"1: Spell Cost Multiplier"=1.0

        # Each successful cast increases Mana Pool, this way you can define how much Max mana added. Can't be higher then [Mana Pool Max]
        # After successful cast, your progress is
        # [This] * ([Progression Multiplier] * (spell-cost-for-pool / player-current-max-mana))
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"2: Mana Pool Progression"=0.0

        # Each successful cast increases Mana Pool, this way you can define how much Max mana added. Can't be higher then [Mana Pool Max]
        # After successful cast, your progress is
        # [This] * ([Progression Multiplier] * (spell-cost-for-pool / player-current-max-mana))
        # Min: 1.0
        # Max: 1.7976931348623157E308
        D:"2: Mana Pool Progression Multiplier"=4.0

        # Each [Mana Pool Regeneration Frequency] seconds regenerates this [value] to your mana pool
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"2: Mana Pool Regeneration"=0.2

        # The maximum plus to your mana pool regen you can get. It scales of how close you are to Mana Pool Max
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"2: Mana Pool Regeneration Bonus"=0.0

        # Frequency of Mana Regeneration in seconds (0.5 = 10 ticks)
        # Min: 0.1
        # Max: 1.7976931348623157E308
        D:"2: Mana Pool Regeneration Seconds Frequency"=0.1

        # Not to allow just spam too much with cast. 20 = 1 second
        # Min: 0
        # Max: 2147483647
        I:"3: Casting Ring Cooldown"=20

        # Spell Cost * This multiplier for Casting ring casting
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"3: Casting Ring Cost Multiplier"=1.0

        # How much it gives mana upon usage?
        # Min: 0
        # Max: 2147483647
        I:"3: Mana Flask: Large"=1400

        # How much it gives mana upon usage?
        # Min: 0
        # Max: 2147483647
        I:"3: Mana Flask: Medium"=350

        # How much it gives mana upon usage?
        # Min: 0
        # Max: 2147483647
        I:"3: Mana Flask: Small"=75

        # If it is true - then if your mana is near 0, you'll get debuffs.
        B:"Are you get debuff when mana is low? "=false

        # If it is true - then casting cost bases on spell cost, if it's false - then it bases of spell tier
        B:"Is casting Cost based on Spell Cost?"=true

        # If it is true - then mana from wands when you cast spell - will not be used
        B:"Is items mana not used anymore?"=true
    }

}


