# Configuration file

general {

    distcat {
        # Dimensions to whitelist; others will follow normal spawning patterns.
        I:dimWhite <
            -1
            0
            1
         >

        # Chance to ignore set maximum distance and spawn anyway.
        # Min: 0
        # Max: 100
        I:ignore_chance=0

        # The maximum distance from which monsters can spawn from the player.
        # Min: 0
        # Max: 128
        I:max_spawn_distance=80

        # The minimum distance from which monsters can spawn from the player. 0-23 will only function in the presence of a similar mod, or while in-bounds teleportation is active.
        # Min: 0
        # Max: 128
        I:min_spawn_distance=24

        # Teleport monsters within maximum spawn distance, instead of denying spawn. May cause strange spawning behaviour and slightly more lag.
        B:retrieve=false
    }

    capcat {
        # Min: -1
        # Max: 2147483647
        I:ambientCap=30

        # Min: -1
        # Max: 2147483647
        I:creatureCap=20

        # Min: -1
        # Max: 2147483647
        I:monsterCap=140

        # Min: -1
        # Max: 2147483647
        I:waterCap=10
    }

}


