# Configuration file

##########################################################################################################
# entity spawns
#--------------------------------------------------------------------------------------------------------#
# Control mob spawn rates and locations.
##########################################################################################################

"entity spawns" {

    watchling {
        # List of biome IDs where this mob can spawn
        S:biomes <
            minecraft:sky
            stygian:stygian_growth
            stygian:acidic_plains
            stygian:lunar_meadow
            stygian:algea_desert
            stygian:bacterial_valley
            ee:ash_wastelands
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=3

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=3
    }

    blastling {
        # List of biome IDs where this mob can spawn
        S:biomes <
            minecraft:sky
            stygian:stygian_growth
            stygian:acidic_plains
            stygian:lunar_meadow
            stygian:algea_desert
            stygian:bacterial_valley
            ee:ash_wastelands
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=2

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=2
    }

    snareling {
        # List of biome IDs where this mob can spawn
        S:biomes <
            minecraft:sky
            stygian:stygian_growth
            stygian:acidic_plains
            stygian:lunar_meadow
            stygian:algea_desert
            stygian:bacterial_valley
            ee:ash_wastelands
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=2

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=2
    }

    endskeleton {
        # List of biome IDs where this mob can spawn
        S:biomes <
            stygian:acidic_plains
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=2

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=3
    }

    cracky {
        # List of biome IDs where this mob can spawn
        S:biomes <
            stygian:acidic_plains
            stygian:algea_desert
            ee:ash_wastelands
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=3

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=4
    }

    supaika {
        # List of biome IDs where this mob can spawn
        S:biomes <
            stygian:acidic_plains
            stygian:algea_desert
            ee:ash_wastelands
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=1

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=1
    }

    endbob {
        # List of biome IDs where this mob can spawn
        S:biomes <
            stygian:stygian_growth
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=4

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=5
    }

    endwyrm {
        # List of biome IDs where this mob can spawn
        S:biomes <
            stygian:stygian_growth
            stygian:algea_desert
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=2

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=2
    }

    pix {
        # List of biome IDs where this mob can spawn
        S:biomes <
            stygian:lunar_meadow
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=2

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=8
    }

    lunarzorp {
        # List of biome IDs where this mob can spawn
        S:biomes <
            stygian:lunar_meadow
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=2

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=5
    }

    lunaling {
        # List of biome IDs where this mob can spawn
        S:biomes <
            stygian:lunar_meadow
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=5

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=2

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=2
    }

    slush {
        # List of biome IDs where this mob can spawn
        S:biomes <
            stygian:bacterial_valley
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=2

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=10
    }

    skipper {
        # List of biome IDs where this mob can spawn
        S:biomes <
            stygian:bacterial_valley
         >

        # Maximum group size
        # Min: 1
        # Max: 64
        I:maxGroup=2

        # Minimum group size
        # Min: 1
        # Max: 64
        I:minGroup=1

        # Spawn probability weight
        # Min: 0
        # Max: 100
        I:spawnProbability=8
    }

}


##########################################################################################################
# world generation
#--------------------------------------------------------------------------------------------------------#
# Configure how the Stygian End biomes and structures are generated.
##########################################################################################################

"world generation" {
    # Weight for the Algea Desert biome.
    # Min: 0
    # Max: 100
    I:algeaDesertWeight=100

    # Weight for the Bacterial Valley biome.
    # Min: 0
    # Max: 100
    I:bacterialValleyWeight=100

    # Reduce number of end biomes by percent. e.g. 40 would generate 40% fewer end biomes
    # Default: 0
    # Min: 0
    # Max: 99
    I:biomeReducer=0

    # Controls how often end boulders generate. Larger number = fewer boulders
    # Default: 5
    # Min: 1
    # Max: 2147483647
    I:bouldersFrequency=5

    # Controls size of end biomes. Larger number = larger biomes
    # Default: 4
    # Min: 1
    # Max: 16
    I:endBiomeSize=4

    # Weight for the Lunar Meadow biome.
    # Min: 0
    # Max: 100
    I:lunarMeadowWeight=100

    # Controls how often large end trees generate. Larger number = fewer trees
    # Default: 7
    # Min: 1
    # Max: 2147483647
    I:treeFrequency=7

    # Controls how often end volcanoes generate. Larger number = fewer volcanoes
    # Default: 8
    # Min: 1
    # Max: 2147483647
    I:volcanoFrequency=8
}


