# Configuration file

general {
    # This causes the deletion slot to delete items instantly, similar to Creative Mode. [default: false]
    B:"Instant Deletion"=false
}


gui {

    "net/minecraft/client/gui/inventory/guiinventory" {
        # The x coordinate of the anchor point for the slot position.
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position.
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot.
        B:Enabled=true

        # The x coordinate of the slot relative to the anchor.
        I:"Slot X"=60

        # The y coordinate of the slot relative to the anchor.
        I:"Slot Y"=83
    }

    "com/flanks255/simplybackpacks/gui/backpackgui" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=78
        I:"Slot Y"=111
    }

    "cpw/mods/ironchest/client/gui/chest/guichest" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=64
        I:"Slot Y"=128
    }

    "net/minecraft/client/gui/guirepair" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "net/mcreator/ironbarrels/gui/guigoldbarrelgui2$guiwindow" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=63
        I:"Slot Y"=128
    }

    "net/minecraft/client/gui/inventory/guichest_large" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=true
        I:"Slot X"=60
        I:"Slot Y"=111
    }

    "net/minecraft/client/gui/inventory/guifurnace" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "cursedflames/bountifulbaubles/block/guireforger" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=81
    }

    "com/tmtravlr/qualitytools/reforging/guireforgingstation" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "shadows/fastbench/gui/guifastbench" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "net/minecraft/client/gui/inventory/guichest" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=true
        I:"Slot X"=60
        I:"Slot Y"=84
    }

    "net/torocraft/toroquest/gui/villagelordguicontainer" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=91
        I:"Slot Y"=120
    }

    "com/creativemd/creativecore/common/gui/mc/guicontainersub" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=75
        I:"Slot Y"=73
    }

    "team/cqr/cqrepoured/client/gui/npceditor/guimerchant" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=125
        I:"Slot Y"=83
    }

    "net/shadowmage/ancientwarfare/npc/gui/guinpcfactiontradeview" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=100
        I:"Slot Y"=120
    }

}


